# 嘉沃资管量化研究员笔试题

注意事项：
1. 整套题目回答时间为1小时,共计7道题，每道题基础分值为10分，满分100分【部分题目根据回答情况会有加分项，但请合理安排时间！】
2. 回答问题的编程语言统一使用Python3,可以调用第三方库来解答问题
3. 笔试题目在该jupyter notebook中规定位置作答，可以在【Ans】与下一题题干之间根据自身编程习惯插入代码块及文字补充说明
4. 完成题目时允许参考书籍或网络资料，但请不要照搬代码
5. 作答完成后，通过邮件提交该notebook文件：命名格式为：提交日期+姓名.ipynb

In [1]:
# 作答之前先import库
import pandas as pd
import numpy as np

### 1. 将以下python语句用一行python命令改写，要求输出内容一致

In [2]:
lst = []

i = 2000
while i <= 3200:
    if i%7 == 0:
        if i%5 != 0: 
            lst.append(i)
    i = i + 1
        
print(lst)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

### 【Ans】1

In [3]:
cp_list = [i for i in range(2000,3201) if i%7 == 0 and i%5 != 0]
print(cp_list)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

### 2. 运行下面的python语句，将生成的df2中的所有的值保留两位小数并转为字符串格式

In [4]:

df2 = pd.DataFrame(
    {
        "A":np.random.randn(5),
        "B":np.random.randn(5),
        "C":np.random.randn(5),
        "D":np.random.randn(5),
        "E":np.random.randn(5),
    }
)

df2

          A         B         C         D         E
0 -1.179707  0.357859 -0.542054 -0.859705  1.529432
1 -1.150735  1.272478 -0.084314  0.784160  0.852390
2  1.430729  0.196829 -0.029194 -2.285601  1.327765
3  0.464788  0.770465  0.049910 -0.898389 -0.558028
4  0.395835 -0.129080  0.492206  0.305028  0.574559

### 【Ans】2

In [5]:
df2_str = df2.round(2).astype(str)
df2_str

       A      B      C      D      E
0  -1.18   0.36  -0.54  -0.86   1.53
1  -1.15   1.27  -0.08   0.78   0.85
2   1.43    0.2  -0.03  -2.29   1.33
3   0.46   0.77   0.05   -0.9  -0.56
4    0.4  -0.13   0.49   0.31   0.57

### 3.将以下两个变量的值进行交换

In [6]:
a = 20
b = 30
print(a)
print(b)

20
30

### 【Ans】3

In [7]:
a,b=b,a

In [8]:
print(a)
print(b)

30
20

### 4. 运行下面的python语句，df4为股票日度收益模拟数据，试计算股票每天的过去3日指数加权移动平均（半衰期=3, 缺失值以上一日结果填充）

In [9]:
np.random.seed(0)

df4 = pd.DataFrame({
    "stock":['A', 'B', 'C', 'A', 'B','C','A','C','A','B','C','A','B','C','D','D','D','D','A','B','C','D'],
    "date":['20210104','20210104','20210104','20210102','20210102','20210102',
            '20210103', '20210103', '20210101','20210101','20210101',
            '20210105','20210105','20210105','20210102','20210103','20210104','20210105', 
            '20210106', '20210106', '20210106','20210106'],
    "daily_ret":np.random.normal(0,0.05,22)})


df4

   stock      date  daily_ret
0      A  20210104   0.088203
1      B  20210104   0.020008
2      C  20210104   0.048937
3      A  20210102   0.112045
4      B  20210102   0.093378
5      C  20210102  -0.048864
6      A  20210103   0.047504
7      C  20210103  -0.007568
8      A  20210101  -0.005161
9      B  20210101   0.020530
10     C  20210101   0.007202
11     A  20210105   0.072714
12     B  20210105   0.038052
13     C  20210105   0.006084
14     D  20210102   0.022193
15     D  20210103   0.016684
16     D  20210104   0.074704
17     D  20210105  -0.010258
18     A  20210106   0.015653
19     B  20210106  -0.042705
20     C  20210106  -0.127649
21     D  20210106   0.032681

### 【Ans】4

In [10]:
# 计算df4 每天的过去3日指数加权移动平均（半衰期=3, 缺失值以上一日结果填充）
df4['ewm'] = df4.groupby('stock')['daily_ret'].apply(lambda x: x.ewm(span=3).mean())
df4

/tmp/ipykernel_2945/1237876383.py:2: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df4['ewm'] = df4.groupby('stock')['daily_ret'].apply(lambda x: x.ewm(span=3).mean())

   stock      date  daily_ret       ewm
0      A  20210104   0.088203  0.088203
1      B  20210104   0.020008  0.020008
2      C  20210104   0.048937  0.048937
3      A  20210102   0.112045  0.104097
4      B  20210102   0.093378  0.068921
5      C  20210102  -0.048864 -0.016264
6      A  20210103   0.047504  0.071759
7      C  20210103  -0.007568 -0.011295
8      A  20210101  -0.005161  0.030735
9      B  20210101   0.020530  0.041269
10     C  20210101   0.007202 -0.001430
11     A  20210105   0.072714  0.052401
12     B  20210105   0.038052  0.039553
13     C  20210105   0.006084  0.002448
14     D  20210102   0.022193  0.022193
15     D  20210103   0.016684  0.018520
16     D  20210104   0.074704  0.050625
17     D  20210105  -0.010258  0.018154
18     A  20210106   0.015653  0.033736
19     B  20210106  -0.042705 -0.002903
20     C  20210106  -0.127649 -0.063633
21     D  20210106   0.032681  0.025652

### 5.把一张100元面值的纸币，换成1，2，5，10，20，50元面值的纸币，共有多少种换法。
### 如果限制换来的纸币总数不能超过N张，又有多少种换法？

### 【Ans】5

In [11]:
def change(max_num:int = 0)->int:
    """
        计算100元换成其他面额纸币的换法数量。
        @param max_num: 换来的纸币总数最大值,为0则表示不限
        @return: 满足要求的换法数量
    """
    count = 0
    max_num = 100 if max_num == 0 else max_num
    coins = [1, 5, 10, 20, 50]
    dp: List[List[int]] = [[0] * (max_num + 1) for _ in range(len(coins))]
    for i in range(len(coins)):
        dp[i][0] = 1
    for i in range(len(coins)):
        for j in range(1, max_num + 1):
            if j >= coins[i]:
                dp[i][j] = dp[i - 1][j] + dp[i][j - coins[i]]
            else:
                dp[i][j] = dp[i - 1][j]
    return dp[-1][-1]
    # return count

print(change(100))

343

### 6.构造一个函数，实现以下功能：返回斐波那契数列中第n项的值【要求算法复杂度尽可能低】

### 【Ans】6

In [12]:
def func6(n:int):
    fib = [0,1]
    if n <=2:
        return fib[n-1]
    for i in range(2,n):
        fib.append(fib[i-1]+fib[i-2])
    return fib[n-1]

In [13]:
# 可以用给出的lst来测试函数
test_list = [1, 10, 30, 100]
for i in test_list:
    print(func6(i))

0
34
514229
218922995834555169026

### 7.提供一个格式为pd.Series的价格序列，计算最大回撤和次大回撤（注意两者时间区间不能有重叠），以及两者的开始和结束时间【要求算法复杂度尽可能低，较低的复杂度有加分】

### 【Ans】7

In [14]:
def func8(series:pd.Series)->pd.Series:
    """
        计算series的最大回撤和次大回撤以及最大回撤的起止时间和次大回撤的起止时间
        @param series: pd.Series
        @return pd.Series
    """
    max_drawdown, max_drawdown2 = 0, 0
    max_drawdown_start, max_drawdown_end = 0, 0
    j = np.argmax(np.maximum.accumulate(series) - series)
    if j == 0:
        max_drawdown_start = 0
    else:
        max_drawdown_start = np.argmax(series[:j])
    max_drawdown_end = j
    max_drawdown = series[max_drawdown_start] - series[max_drawdown_end]
    series2 = series.copy()
    series2[max_drawdown_start] = series2[max_drawdown_end]
    j2 = np.argmax(np.maximum.accumulate(series2) - series2)
    if j2 == 0:
        max_drawdown_start2 = 0
    else:
        max_drawdown_start2 = np.argmax(series2[:j2])
    max_drawdown_end2 = j2
    max_drawdown2 = series2[max_drawdown_start2] - series2[max_drawdown_end2]
    return pd.Series([max_drawdown, max_drawdown2, max_drawdown_start, max_drawdown_end, max_drawdown_start2, max_drawdown_end2], index=['max_drawdown', 'max_drawdown2', 'max_drawdown_start', 'max_drawdown_end', 'max_drawdown_start2', 'max_drawdown_end2'])

In [15]:
# 可以用给出的series来测试函数
np.random.seed(1000)
series = pd.Series(np.random.rand(300)+1,index = pd.date_range(end = '12/31/2018', periods = 300))
series.head()

2018-03-07    1.653590
2018-03-08    1.115007
2018-03-09    1.950283
2018-03-10    1.482191
2018-03-11    1.872475
Freq: D, dtype: float64

In [16]:
print(func8(series))

max_drawdown             0.995555
max_drawdown2            0.993626
max_drawdown_start     205.000000
max_drawdown_end       249.000000
max_drawdown_start2    193.000000
max_drawdown_end2      205.000000
dtype: float64